<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
	<!-- Meta Tags -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description"
		content="وبسایت رزرو محل اقامت با امکان جستجو و رزرو آنلاین اقامتگاه‌های مختلف در سراسر ایران، ارائه‌دهنده اطلاعات کامل و خدمات با کیفیت برای تجربه‌ای راحت و سریع." />
	<meta name="robots" content="index, follow" />
	<link rel="canonical" href="" />

	<!-- Meta OG Tags -->
	<meta property="og:title" content="اقامت یار" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" />
	<meta property="og:description"
		content="وبسایت رزرو محل اقامت با امکان جستجو و رزرو آنلاین اقامتگاه‌های مختلف در سراسر ایران، ارائه‌دهنده اطلاعات کامل و خدمات با کیفیت برای تجربه‌ای راحت و سریع." />
	<meta property="og:site_name" content="eghamatyaar" />
	<meta property="og:locale" content="fa_IR" />

	<title>رزرو اقامتگاه و هتل در سراسر ایران | اقامت یار</title>

	<!-- Favicon Tags -->
	<link rel="icon" type="image/x-icon" href="~/favicon/favicon.ico" sizes="any" />
	<link rel="icon" type="image/png" href="~/favicon/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="~/favicon/favicon-16x16.png" sizes="16x16" />
	<link rel="apple-touch-icon" type="image/png" href="~/favicon/apple-touch-icon.png" sizes="180x180" />
	<link rel="icon" type="image/png" href="~/favicon/android-chrome-192x192.png" sizes="192x192" />
	<link rel="icon" type="image/png" href="~/favicon/android-chrome-512x512.png" sizes="512x512" />
	<link rel="manifest" href="~/favicon/site.webmanifest" />

	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/media.css" asp-append-version="true" />
	<script defer src="~/js/site.js" asp-append-version="true"></script>
</head>

<body>
	<header class="header">
		<div class="header-top">
			<div class="header-top_menu">
				<button class="menu-btn" aria-controls="" aria-expanded="" aria-label="">
					<img class="menu-btn_img" src="~/icons/menu.svg" width="24px" height="24px" alt="menu"
						title="منو" />
				</button>
			</div>
			<div class="header-top_logo">
				<a class="logo-link" href="#">
					<img class="logo-link_img" src="~/img/logo2.png" width="50px" height="50px" alt="logo"
						title="اقامت یار" />
				</a>
			</div>
			<div class="header-top_links">
				<a class="links-account" href="#">
					<img class="links-account_icon" src="~/icons/account.png" width="24px" height="24px" alt="account"
						title="حساب کاربری" />
				</a>
				<a class="links-contact" href="#">
					<img class="links-contact_icon" src="~/icons/phone.png" width="24px" height="24px" alt="connect us"
						title="تماس با ما" />
				</a>
			</div>
		</div>
		<nav class="nav">
			<div class="nav_top">
				<button class="close-btn" aria-controls="" aria-expanded="" aria-label="">
					<img class="close-btn_img" src="~/icons/close.png" width="24px" height="24px" alt="close menu"
						title="بستن منو" />
				</button>
				<h3 class="menu-title">منو</h3>
			</div>
			<ul class="nav-menu">
				<li class="menu-item">
					<a class="menu-search-link" href="#">
						<img class="menu-item_icon" src="~/icons/search.png" width="24px" height="24px" alt="search" />
						<span class="menu-item_text"> جستجو </span>
						<img class="menu-item_arrow" src="~/icons/left.png" width="24px" height="24px"
							alt="arrow left" />
					</a>
				</li>
				<li class="menu-item">
					<a class="menu-account-link" href="#">
						<img class="menu-item_icon" src="~/icons/account.png" width="24px" height="24px"
							alt="account" />
						<span class="menu-item_text"> حساب کاربری </span>
						<img class="menu-item_arrow" src="~/icons/left.png" width="24px" height="24px"
							alt="arrow left" />
					</a>
				</li>
				<li class="menu-item">
					<a class="menu-reserve-link" href="#">
						<img class="menu-item_icon" src="~/icons/reserve.png" width="24px" height="24px"
							alt="reserve" />
						<span class="menu-item_text"> رزرو اقامتگاه </span>

						<img class="menu-item_arrow" src="~/icons/left.png" width="24px" height="24px"
							alt="arrow left" />
					</a>
				</li>
				<li class="menu-item">
					<a class="menu-aboutus-link" href="#">
						<img class="menu-item_icon" src="~/icons/about-us.png" width="24px" height="24px"
							alt="about us" />
						<span class="menu-item_text"> درباره ما </span>
						<img class="menu-item_arrow" src="~/icons/left.png" width="24px" height="24px"
							alt="arrow left" />
					</a>
				</li>
				<li class="menu-item" class="menu-item">
					<a class="menu-contact-link" href="#">
						<img class="menu-item_icon" src="~/icons/phone.png" width="24px" height="24px"
							alt="connect us" />
						<span class="menu-item_text"> تماس با ما </span>
						<img class="menu-item_arrow" src="~/icons/left.png" width="24px" height="24px"
							alt="arrow left" />
					</a>
				</li>
			</ul>
		</nav>
	</header>
	<div class="container">
		<main role="main">
			@RenderBody()
		</main>
	</div>

	<footer>
		<div class="container"></div>
	</footer>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>