@media (min-width: 576px) {
  .signup-container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .signup-container {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .signup-container {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .signup-container {
    width: 40rem;
  }
}
