/* !Temporary Color Variables */
:root {
  --color-000: #000;
  --color-222: #222;
  --color-444: #444;
  --color-666: #666;
  --color-888: #888;
  --color-aaa: #aaa;
  --color-ccc: #ccc;
  --color-eee: #eee;
  --color-fff: #fff;
  --color-258cfb: #258cfb;
  --color-007bfe: #007bfe;
  --color-16697a: #16697a;
  --color-489fb5: #489fb5;
  --color-82c0cc: #82c0cc;
  --color-ede7e3: #ede7e3;
  --color-ffa62b: #ffa62b;
  --color-e98800: #e98800;
  --color-ff0000: #ff0000;
}

html {
  font-family: 'mikhak';
}

body {
  background-image: url('../img/SexyBackground.png');
  background-attachment: fixed;
  background-position: center;
  -webkit-tap-highlight-color: transparent;
}

.hidden {
  display: none !important;
}


@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
