@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .footer > div {
    grid-template-areas: 'f1 f3' 'f1 f4' 'f2 f4' 'f5 f5' 'f6 f6';
  }
  .newsletter-email {
    width: 100%;
  }
  .footer-links {
    flex-direction: row;
    gap: 8rem;
  }
}

@media (min-width: 768px) {
  /* Styles for small to medium screens */
  .container {
    max-width: 720px;
  }
  .header-top_menu,
  .nav_top,
  .menu-item_icon,
  .menu-item_arrow,
  .menu-item:nth-child(2),
  .menu-item:nth-child(5) {
    display: none;
  }
  .header-top {
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr;
  }
  .header-top_logo {
    justify-content: flex-start;
  }
  .logo-link {
    width: auto;
    height: auto;
    cursor: pointer;
  }
  .nav {
    background-color: inherit;
    position: static;
  }
  .nav-menu {
    height: 100%;
    flex-direction: row;
    align-items: center;
  }
  .menu-item {
    border: none;
  }
  .menu-item > a {
    font-size: 1.2rem;
    cursor: pointer;
  }
  .menu-item_text {
    color: var(--color-fff);
    position: relative;
    &:hover::after {
      width: 100%;
    }
  }
  .menu-item_text::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--color-fff);
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: all 200ms ease-in;
  }

  /* .header-top_links {} */
}

@media (min-width: 992px) {
  /* Styles for tablets */
  .container {
    max-width: 960px;
  }
  .footer h3 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .footer-overal_text p,
  .footer-overal_text address {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .social {
    width: 3rem;
    height: 3rem;
  }
  .footer-newsletter h4 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .newsletter-sms {
    font-size: 1.2rem;
  }
  .footer-menu_item a,
  .footer-useful_item a {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  /* Styles for small laptops */
  .logo-link {
    width: 5rem;
  }
  .nav-menu {
    gap: 2rem;
  }
  .menu-item > a {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .links-account,
  .links-contact {
    width: 2.5rem;
    height: 2.5rem;
  }
}
