@media (min-width: 576px) {
    .container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	/* Styles for small to medium screens */
    .container {
        max-width: 720px;
      }
}

@media (min-width: 992px) {
	/* Styles for tablets */
    .container {
        max-width: 960px;
      }
}

@media (min-width: 1200px) {
	/* Styles for small laptops */
}
