:root {
  --color-000: #000;
  --color-222: #222;
  --color-444: #444;
  --color-666: #666;
  --color-888: #888;
  --color-aaa: #aaa;
  --color-ccc: #ccc;
  --color-eee: #eee;
  --color-fff: #fff;
  --color-258cfb: #258cfb;
  --color-16697a: #16697a;
  --color-489fb5: #489fb5;
  --color-82c0cc: #82c0cc;
  --color-ede7e3: #ede7e3;
  --color-ffa62b: #ffa62b;
}
* {
  box-sizing: border-box;
}

html {
  font-family: "mikhak";
}

body{
	-webkit-tap-highlight-color: transparent;
  height: 1440px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--color-000);
}
a:active {
  color: var(--color-000);
}
a:visited {
  color: var(--color-000);
}
a:hover {
  color: var(--color-000);
}

.hidden{
  display: none !important;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  margin-top: 0.5rem;
}
.header-top {
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header-top_menu {
  display: flex;
  align-items: center;
}
.menu-btn {
	all: unset;
  width: 36px;
  height: 36px;
  position: relative;
}
.menu-btn_img {
	width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-top_logo {
  display: flex;
  justify-content: center;
}
.logo-link {
  display: block;
  width: 48px;
  height: 48px;
}
.logo-link_img {
  width: 100%;
}
.header-top_links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
.links-account, .links-contact {
	display: block;
	width: 36px;
	height: 36px;
  cursor: pointer;
}
.links-account_icon, .links-contact_icon {
	width: 100%;
}

.nav {
  background-color: var(--color-fff);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 300ms ease-out;
  z-index: 10;
}
.nav_top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  border-bottom: 2px solid var(--color-222);
}
.close-btn {
  all: unset;
  width: 36px;
  height: 36px;
}
.close-btn_img {
  width: 100%;
  height: 100%;
}
.menu-title {
  font-size: 18px;
  font-weight: 800;
}
.nav-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menu-item {
  border-bottom: 1px solid var(--color-444);
}
.menu-item > a {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-right {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* .menu-search-link {} */
/* .menu-item_icon {} */
/* .menu-item_text {} */
/* .menu-item_arrow {} */
/* .menu-account-link {} */
/* .menu-reserve-link {} */
/* .menu-aboutus-link {} */
/* .menu-contact-link {} */
