/* !Temporary Color Variables */
:root {
  --color-000: #000;
  --color-222: #222;
  --color-444: #444;
  --color-666: #666;
  --color-888: #888;
  --color-aaa: #aaa;
  --color-ccc: #ccc;
  --color-eee: #eee;
  --color-fff: #fff;
  --color-258cfb: #258cfb;
  --color-16697a: #16697a;
  --color-489fb5: #489fb5;
  --color-82c0cc: #82c0cc;
  --color-ede7e3: #ede7e3;
  --color-ffa62b: #ffa62b;
  --color-ff0000: #ff0000;
}

html {
  font-family: 'mikhak';
}

body {
  background-image: url('../img/SexyBackground.png');
  background-attachment: fixed;
  background-position: center;
  -webkit-tap-highlight-color: transparent;
  /* height: 90rem; */
}

.container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.hidden {
  display: none !important;
}

/* ! Header */
/* .header {} */
.header-top {
  background-color: var(--color-258cfb);
  padding: 0.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header-top_menu {
  display: flex;
  align-items: center;
}
.menu-btn {
  all: unset;
  width: 2rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
}
.menu-btn_img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-top_logo {
  display: flex;
  justify-content: center;
}
.logo-link {
  display: block;
  width: 3rem;
  height: 3rem;
}
.logo-link_img {
  width: 100%;
}
.header-top_links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
.links-account,
.links-contact {
  display: block;
  background-color: var(--color-fff);
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.links-account_icon,
.links-contact_icon {
  width: 100%;
}

.nav {
  background-color: var(--color-fff);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 300ms ease-out;
  z-index: 10;
}
.nav_top {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 2px solid var(--color-222);
}
.close-btn {
  all: unset;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.close-btn_img {
  width: 100%;
  height: 100%;
}
.menu-title {
  font-size: 1.5rem;
  font-weight: 800;
}
.nav-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menu-item {
  border-bottom: 1px solid var(--color-444);
}
.menu-item > a {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
/* .menu-search-link {} */
/* .menu-item_icon {} */
/* .menu-item_text {} */
/* .menu-item_arrow {} */
/* .menu-account-link {} */
/* .menu-reserve-link {} */
/* .menu-aboutus-link {} */
/* .menu-contact-link {} */

/* ! Footer */
.footer > div {
  display: grid;
  grid-template-areas: 'f1' 'f2' 'f3' 'f4' 'f5' 'f6';
}
/* .footer > div > div {
  border: 1px solid #000;
} */
.footer h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.footer-overal {
  grid-area: f1;
}
.footer-overal_logo {
  line-height: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo-img {
  padding-top: 0.5rem;
  width: 4rem;
  height: 4rem;
}
.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .logo-text{} */
.logo-text h1 {
  font-family: 'isfahan';
  color: var(--color-444);
}
.logo-text p {
  font-weight: 700;
}
.footer-overal_text {
  margin-top: 1rem;
  padding: 1rem;
}
.footer-overal_text p {
  margin-top: 0.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--color-222);
}
.footer-overal_text address {
  margin-top: 1rem;
  color: var(--color-444);
  display: flex;
  flex-direction: column;
}
.footer-social {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  grid-area: f2;
}
.social {
  width: 2rem;
  height: 2rem;
}
.social-link {
  display: block;
  width: 100%;
}
.social-link_img {
  width: 100%;
}
/* .instagram{} */
/* .telegram{} */
/* .twitter{} */
/* .whatsapp{} */
/* .linkedin{} */
.footer-newsletter {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  grid-area: f3;
}
.footer-newsletter h4 {
  font-weight: 500;
  line-height: 1.5rem;
}
.newsletter-email {
  width: 80%;
  padding: 5px;
  background-color: var(--color-ccc);
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-self: center;
  border-radius: 0.5rem;
}
.newsletter-email input {
  all: unset;
  width: 100%;
  padding: 0.5rem;
}
.newsletter-email button {
  all: unset;
  padding: 0.5rem;
  font-weight: 500;
  background-color: var(--color-258cfb);
  color: var(--color-fff);
  cursor: pointer;
  border-radius: 0.5rem;
}
.newsletter-sms {
  margin-top: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--color-222);
}
.footer-neshan {
  display: flex;
  justify-content: center;
  gap: 2rem;
  grid-area: f4;
}
.neshan {
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--color-ccc);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.neshan-link {
  display: block;
  width: 100%;
}
.neshan-link img {
  width: 100%;
}
/* .social-marketing{} */
/* .enemad{} */
/* .samandehi{} */

.footer-links {
  border-top: 2px solid var(--color-ccc);
  display: flex;
  flex-direction: column;
  grid-area: f5;
}
.footer-menu,
.footer-useful {
  padding: 1rem;
}
/* .footer-menu_list{} */
.footer-menu_item,
.footer-useful_item {
  padding: 0.5rem 1.5rem;
}
.footer-menu_item a,
.footer-useful_item a {
  font-weight: 500;
  color: var(--color-666);
}
/* .footer-useful_list{} */
.footer-copy {
  padding: 0.5rem;
  border-top: 2px solid var(--color-ccc);
  grid-area: f6;
}
