:root {
	--color-fff: #fff;
	--color-258cfb: #258cfb;
	--color-16697a: #16697a;
	--color-489fb5: #489fb5;
	--color-82c0cc: #82c0cc;
	--color-ede7e3: #ede7e3;
	--color-ffa62b: #ffa62b;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* .header {
}
.header-top {
}
.header-top_menu {
}
.menu-btn {
}
.menu-btn_img {
}
.header-top_logo {
}
.logo-link {
}
.logo-link_img {
}
.header-top_links {
}
.links-account {
}
.links-account_icon {
}
.links-contact {
}
.links-contact_icon {
}
.nav {
}
.nav_top {
}
.close-btn {
}
.close-btn_img {
}
.menu-title {
}
.nav-menu {
}
.menu-item {
}
.menu-search-link {
}
.menu-item_icon {
}
.menu-item_text {
}
.menu-item_arrow {
}
.menu-account-link {
}
.menu-reserve-link {
}
.menu-aboutus-link {
}
.menu-contact-link {
} */
